{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block title %}Foodie Friend Home{% endblock %}

{% block body %}
  <div id="search-ctn">
    <div class="row text-center">
      <h1>Find your next amazing eats!</h1>
    </div>
    
    <div class="d-flex flex-row justify-content-center">
      <form class="d-flex" action="/search">
        <div class="col-6 me-2">
          <input class="form-control" id="search-input" type="text" name="query" placeholder="Restaurants, food, etc." aria-label="Query Search">
        </div>
        <div class="col me-2">
          <input class="form-control" id="location-input" type="text" name="location" placeholder="Location" aria-label="Location Search">
        </div>
        <div class="col-2">
          <button id="search-btn" class="btn btn-primary" type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>
  <div id="loader-ctn" class="row d-flex justify-content-center align-items-center visually-hidden">
    <div id="loader"></div>
    <div class="text-center mt-3">Hang tight! Looking for the best eats at the moment...</div>
  </div>
  
{% endblock %}

{% block after_body %}
  <script src="/static/js/search.js"></script>
{% endblock %}