{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
  <div class="row">
    <h1>Login to FoodieFriend</h1>
  </div>
  
  <div class="row">
    <form action="/login" method="POST">
      <div class="mb-3">
        <label for="email" class="form-label">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="email-info">
        <div id="email-info" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>
      <div class="mb-3">
        <a href="/signup">Don't have an account? Sign up here.</a>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
{% endblock %}