{% extends 'base.html' %}

{% block title %}{{ restaurant.name }} - Details{% endblock %}

{% block body %}
  <div class="row row-cols-1">
    <!-- <div class="col-6">
      
      
    </div> -->
    <div class="col-md-6 col-sm-12">
      <div class="card border-0">
        <div class="card-body">
          <div class="card-title mb-0">
            <h1>{{ restaurant.name }}</h1>
            <input type="text" class="rating rating-loading mb-2" data-display-only="true" data-show-clear="false" data-show-caption="false" data-size="sm" value="{{ restaurant.rating }}">
          </div>
          <div class="row mb-2">
            <div class="col">
              <div class="row">
                <p class="mb-0">
                  {{ restaurant.street_address }}
                </p>
              </div>
              <div class="row">
                <p class="mb-0">
                  {{ restaurant.city }}, {{ restaurant.state }} {{ restaurant.zipcode }}
                </p>
              </div>
            </div>
            <div class="col d-flex align-items-center">
              <a class="link-dark link-underline link-underline-opacity-0" href="/map/{{ restaurant.restaurant_id}}"><i class="bi bi-map fs-6"></i></a>
            </div>
          </div>
          
          {% if restaurant.phone_number %}
            <div class="row">
              <div class="col">
                <p>
                  {{ restaurant.phone_number }}
                </p>
              </div>
              <div class="col">
                <i class="bi bi-telephone-forward fs-6"></i>
              </div>
            </div>
            
          {% endif %}

          {% if "user" in session %}
            <hr>
            <div class="d-flex">
              <form class="me-3" action="/write-review">
                <button type="submit" class="btn btn-primary" name="restaurant" value="{{ restaurant.restaurant_id }}">
                  <i class="bi bi-star"></i>
                  Write a Review
                </button>
              </form>
              <a type="button" class="btn btn-outline-dark me-3" href="/map/{{ restaurant.restaurant_id}}">Get Directions</a>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#favorites-modal">
                <i class="bi bi-heart"></i>
                Favorite
              </button>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% if restaurant.business_hours %}
      <div class="col-md-6 col-sm-12">
        <div class="card border-0">
          <div class="card-body">
            <div class="card-title"><h5 class="mb-0">Business Hours</h5></div>
            <ul class="list-group list-group-flush">
              {% for item in restaurant.business_hours %}
                <li class="d-flex list-group-item justify-content-between">  
                  <p class="me-3 fw-bold mb-0">{{ item["day"] }}</p>
                  {% if item["hours"] %} 
                    <div class="d-flex flex-column align-items-end">
                      {% for hours in item["hours"] %}
                        <p class="fw-bold mb-0">{{ hours }}</p>
                      {% endfor %}
                    </div>
                  {% else %}
                    <p class="fw-bold mb-0">Closed</p>
                  {% endif %}
                </li>
              {% endfor %}   
          </ul>
          </div>
        </div>
      </div>
    {% endif %}
  </div>

  {% if "user" in session %}
    <div class="modal fade" id="favorites-modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Save to a Favorites List</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% if user.favorites_lists %}
              <p>Choose one of your Favorites lists to save to:</p>
              <form>
                <select id="favorite-list" class="form-select mb-4">
                  <option selected>Choose a list...</option>
                  {% for list in user.favorites_lists %}
                    <option value="{{ list.list_id }}">{{ list.name }}</option>
                  {% endfor %}
                </select>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-primary" id="save" value="{{ restaurant.restaurant_id }}">
                    Save
                  </button>
                </div>
              </form>
            {% else %}
              <p>You do not have any Favorites lists yet.</p>
              <a href="/users/{{ user.user_id }}">
                Go to your profile to create one.
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  
  <div class="d-flex flex-row">
    {% for image in images %}
      <div class="col">
        <img class="img-responsive img-thumbnail" src="{{ image.img_url }}">
      </div> 
    {% endfor %}
  </div>

  <div class="row">
    <h3>Reviews</h3>
  </div>
  
  <div class="row">
    <div class="col-12">
      {% for yelp_review in yelp_reviews %}
        <div class="card mb-2">
          <div class="card-body">
            <h5 class="card-title">{{ yelp_review.reviewer_name }}</h5>
            <h6 class="card-subtitle d-flex">
              <input type="text" class="rating rating-loading" data-display-only="true" data-show-clear="false" data-show-caption="false" data-size="xs" value="{{ yelp_review.rating }}">
              <p>
                {{ yelp_review.created_at.month }}/{{ yelp_review.created_at.day }}/{{ yelp_review.created_at.year }}
              </p>
            </h6>
            <p class="card-text">{{ yelp_review.body }}</p>
            <div class="d-flex justify-content-between">
              <a href="{{ yelp_review.review_url }}" target="_blank" rel="noopener noreferrer">
                See more
              </a>
              <i class="bi bi-yelp text-danger fs-5"></i>
            </div>
          </div>
        </div>
      {% endfor %}

      {% for user_review in user_reviews %}
        <div class="card mb-2">
          <div class="card-body">
            <h5 class="card-title">{{ user_review.user.fname }} {{ user_review.user.lname[0] }}.</h5>
            <h6 class="card-subtitle d-flex">
              <input type="text" class="rating rating-loading" data-display-only="true" data-show-clear="false" data-show-caption="false" data-size="xs" value="{{ user_review.rating }}">
              <p>
                {{ user_review.created_at.month }}/{{ user_review.created_at.day }}/{{ user_review.created_at.year }}
              </p>
            </h6>
            <p class="card-text">{{ user_review.body }}</p>
            {% if "user" in session and user.user_id == user_review.user_id %}
              <button id="delete-review-btn" name="delete" type="button" class="btn btn-danger" value="{{ user_review.user_review_id }}">Remove Review</button>
            {% endif %}
          </div>
        </div>
        {% endfor %}
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-12">
      <h2>{{ restaurant.name }} - User Reviews</h2>
    </div>
    <div class="col-12">
      <ul>
        {% for user_review in user_reviews %}
        <li class="mb-3">
          <p>{{ user_review.user.fname }} {{ user_review.user.lname[0] }}.</p>
          <div class="d-flex">
            <input type="text" class="rating rating-loading data-display-only="true" data-show-clear="false" data-show-caption="false" data-size="xs" value="{{ user_review.rating }}">
            <p>
              {{ user_review.created_at.month }}/{{ user_review.created_at.day }}/{{ user_review.created_at.year }}
            </p>
          </div>
          <p>
            {{ user_review.body }}
          </p>
          {% if "user" in session and user.user_id == user_review.user_id %}
            <button id="delete-review-btn" name="delete" type="button" class="btn btn-danger" value="{{ user_review.user_review_id }}">Remove Review</button>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div> -->
{% endblock %}

{% block after_body %}
  <script src="/static/js/favorite.js"></script>
  <script src="/static/js/review.js"></script>
{% endblock %}