{% extends 'base.html' %}

{% block title %}Restaurants Results in {{ location }}{% endblock %}

{% block body %}
  <div class="row">
    <h1>
      {%if query %} 
        Results for {{ query }} 
      {% else %} 
        Restaurants 
      {% endif %} 
      in {{ location }}
    </h1>
  </div>
  
  <div class="row">
    <div class="col-md-5">
      <ul class="list-group list-group-flush">
        {% for restaurant in restaurants %}
          <a id="{{ restaurant.restaurant_id }}" class="restaurant list-group-item list-group-item-action" href="/restaurants/{{ restaurant.restaurant_id }}" data-restaurant-id="{{ restaurant.restaurant_id }}">
            {{ restaurant.name }}
          </a>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-7" style="height: 800px;">
      <div class="w-100 h-100" id="map"></div>
    </div>
  </div>
{% endblock %}

{% block after_body %}
  <script src="/static/js/restaurantMap.js"></script>
  <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7puXA88N8fGvbCsZsLU4mlwxf1dFtJKY&callback=initMap">
</script>
{% endblock %}