{% extends 'base.html' %}

{% block title %}Write a Review for {{ restaurant.name }}{% endblock %}

{% block body %}
  <div class="row text-center">
    <h1>Write a Review for {{ restaurant.name }}</h1>
  </div>
  <form action="/write-review" method="POST">
    <div class="row d-flex align-items-center mb-3">
      <div class="col">
        <p>Rating:</p>
      </div>
      <div class="col">
        <input type="text" id="rating" class="rating rating-loading" name="rating" data-show-clear="false" data-show-caption="false" data-size="sm" data-min="0" data-max="5" data-step="0.5">
        <!-- <select id="rating" class="form-select" name="rating">
          {% for num in range(1, 6) %}
            <option value="{{ num }}">{{ num }}</option>
          {% endfor %}
        </select> -->
      </div>
    </div>
    <div class="row mb-3 form-floating">
      <textarea class="form-control" style="height: 150px;" placeholder="Write your review here" id="review" name="review"></textarea>
      <label for="review">Your Review</label>
    </div>
    <div class="row mb-3 d-none">
      <input id="restaurant" type="text" name="restaurant" value="{{ restaurant.restaurant_id }}">
    </div>
    <div class="d-flex justify-content-between">
        <a type="button" class="btn btn-danger" href="/restaurants/{{ restaurant.restaurant_id }}">Cancel</a>
        <button id='review-btn' type="submit" class="btn btn-primary">Write Review</button> 
    </div>
</form>
{% endblock %}